# OpenAI配置
OPENAI_API_KEY=sk-or-v1-
OPENAI_BASE_URL=https://openrouter.ai/api/v1
OPENAI_MODEL=deepseek/deepseek-chat-v3-0324

# LangGraph服务配置
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=lsv2_pt_
LANGCHAIN_PROJECT=ppt-expert-v1